h1 {
    font-family:'Times New Roman';
    color: #ffffff;
    background-color: #02290e;
    text-align: center;
    border-radius: 100px;
}

li {
    color:black;
    background-color: blanchedalmond;
    font-family: Arial;
}